.con{
    background-image: linear-gradient(blue, green, yellow);
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px black;
}
@media (max-width: 768px) {
    .con {
      width: 70%;
      margin: 3rem auto;
    }
  }
  
  @media (max-width: 480px) {
    .con {
      width: 90%;
      margin: 2rem auto;
    }
  
    h2 {
      font-size: 1.25rem;
    }
  
    button {
      height: 1.75rem;
    }
  }
  